@import 'normalize';
@import 'bootstrap';
@import 'vars';
@import 'media';
@import url( 'https://fonts.googleapis.com/css?family=Nova+Flat|Open+Sans|Quicksand');

* {
    outline: none;
}

.top-line {
    height: 130px;
    padding: 35px 0;

    .logo {
        text-decoration: none;
        color: #4d4d4d;
        font-family: 'Quicksand', sans-serif;
        font-size: 40px;
    }
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        display: inline-block;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        padding: 18px 25px;

        &:last-child {
            padding-right: 0;
        }

        a {
            color: $main-col;
            text-decoration: none;

            &:active,
            &:focus {
                text-decoration: none;
                border-bottom: 1px #0f0f0f solid;
            }

            &:hover {
                @extend .main-trans;
                color: #0f0f0f;
                text-decoration: none;
                border-bottom: 1px #0f0f0f solid;
            }
        }
    }
}

.top-img {
    padding-top: 15%;
    background: url('../img/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 640px;
}

h1 {
    color: $main-col;
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
}

p {
    color: $main-col;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 35px;
}

.btn {
    width: 290px;
    height: 50px;
    background-color: $main-col;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    border: none;
    border-radius: 30px;

    .fa-mod {
        font-weight: 100;
        font-size: 15px;
        margin-left: 10px;
    }

    &:focus,
    &:hover {
        @extend .main-trans;
        background-color: #2f2f2f;
        color: #fff;
    }
}

.serv-item {
    padding-top: 7%;
    padding-bottom: 5%;
    color: $main-col;

    h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    p {
        line-height: 22px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
    }
}

.serv-sec::after {
    margin: 0 auto;
    content: "";
    position: relative;
    display: block;
    background-color: #e7e7e7;
    width: 70%;
    height: 1px;
}

h2 {
    text-transform: uppercase;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    color: $main-col;
}

.stor-sec {
    img {
        width: 80%;
    }

    p {
        line-height: 22px;
        font-size: 14px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 60px;
    }
}

.brand-item {
    display: inline-block;
    height: 320px;
    width: 260px;
    background-color: #f7f7f7;
    color: #d2d1d1;
    padding-top: 145px;
    padding-left: 0;
    cursor: pointer;
    margin: 10px;
    overflow: hidden;

    h4 {
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 25px;
    }

    p {
        margin-top: -20px;
        font-family: 'Open Sans', sans-serif;
        font-weight: lighter;
        font-size: 10px;
        color: #d2d1d1;
        letter-spacing: 2px;
    }

    &:hover {
        .hov-link {
            display: block;
        }
    }

    .hov-link {
        display: none;
        padding: 8% 10%;
        background-color: #575757;
        height: 220px;
        width: 260px;
        font-size: 16px;
        color: #fff;
        font-family: 'Open Sans Semibold', sans-serif;
        margin-top: 50px;

        .fa-mod {
            padding-left: 5px;
            font-size: 12px;
        }
    }
}

.sub-sec {
    margin-top: 100px;
    height: 359px;
    background-color: #f7f7f7;

    &:before {
        margin: 0 auto;
        content: "";
        position: relative;
        display: block;
        background-color: #e7e7e7;
        width: 100%;
        height: 1px;
    }
}

.btn-mod {
    width: 290px;
    height: 50px;
    background-color: #f7f7f7;
    color: $main-col;
    font-size: 16px;
    font-weight: 100;
    margin-top: 40px;
    font-family: 'Open Sans', sans-serif;
    border: 2px $main-col solid;

    &:hover {
        @extend .main-trans;
        background-color: $main-col;
        color: #fff;
    }
}

.soc-sec {
    height: 270px;

    &:before {
        margin: 0 auto;
        content: "";
        position: relative;
        display: block;
        background-color: #e7e7e7;
        width: 100%;
        height: 1px;
    }
}

.soc-item {
    display: inline-block;
    height: 70px;
    width: 70px;
    border: 2px $main-col solid;
    margin: 20px;
    padding: 24px;
    cursor: pointer;

    .fa-mod2 {
        font-size: 20px;
        color: $main-col;
    }

    &:hover {
        @extend .main-trans;
        background-color: #55acee;
        border: 2px #55acee solid;

        .fa-mod2 {
            color: #fff;
        }
    }
}

.soc-resp {
    margin-top: 80px;
}

footer {
    background-color: #3b3b3b;
    color: #fff;
    height: 350px;

    .f-item {
        margin-top: 100px;
        letter-spacing: 0.5px;
        display: inline-block;
        height: 150px;

        p {
            margin-top: 30px;
            color: #fff;
            font-size: 13px;
            line-height: 22px;
            font-family: 'Open Sans', sans-serif;

            span {
                color: #b5b5b5;
            }
        }

        a {
            color: #b5b5b5;
            text-decoration: underline;
        }

        ul {
            margin-top: 30px;
            list-style: none;
            line-height: 24px;
            padding: 0;

            a {
                color: #fff;
                text-decoration: none;

                &:hover {
                    color: #b5b5b5;
                }
            }
        }
    }

    .fa-mod {
        margin-left: 8px;
    }

    h4 {
        font-size: 18px;
        font-family: 'Open Sans', sans-serif;
    }
}

.top {
    position: fixed;
    bottom: 20px;
    right: -120px;
    width: 40px;
    height: 40px;
    border-radius: 10em;
    background-color: grey;
    text-align: center;
    opacity: 0.4;
    cursor: pointer;

    .fa {
        font-size: 25px;
        margin-top: 7px;
        color: #fff;
    }
    &:hover {
        opacity: 0.9;
    }
    &.active {
        right: 20px;
    }
}
